<ion-content class="green-dark">
    <div class="con">
        <div class="top-con">
            <ion-card-title color="light">Afro Calorie<br/>Diet & Exercise</ion-card-title>
            <ion-img src="/assets/icon/icon.png"></ion-img>
            <ion-card-subtitle color="light">Starting point for good health is diet and exercise. Health is Wealth!</ion-card-subtitle>
        </div>
        <div class="bottom-con" color="light">
            <ion-button size="large" shape="round" expand="block" color="success" (click)="gotoLogin()">Login</ion-button>
            <br/>
            <ion-button size="large" shape="round" expand="block" fill="clear" color="dark" (click)="gotoRegister()">Register</ion-button>
        </div>
    </div>
</ion-content>