<ion-header>
  <ion-toolbar color="success">
    <!-- <ion-title>landing</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/diet_exercise.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Diet & Exercise</ion-card-subtitle>
      <ion-card-title>Welcome to Afro Calorie</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Starting point for good health is diet and exercise. Health is Wealth!</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="success">
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>
