<ion-header>
  <ion-toolbar class="green-dark">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/feedback"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Notification</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-card no-padding *ngIf="record.title">
    <ion-card-header no-padding>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-icon class="icon" color="{{record.type}}" name="mail-open" size="large"></ion-icon>
          </ion-col>
          <ion-col size="9">
            <p float-end>{{record.created_at | date: 'MMM d'}}</p>
            <h5>{{record.title | titlecase}}</h5>
            <p>{{ record.message }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="9">
            &nbsp;
          </ion-col>
          <ion-col size="3">
            <ion-button expand="block" color="danger" fill="clear" (click)="delete(record.id)">
              <ion-icon name="remove-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>
