<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/feedback"></ion-back-button>
      </ion-buttons>
      <ion-title>Food Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ record.status }}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-card-subtitle>Message:</ion-card-subtitle>
        {{ record.message }}
        <ion-buttons slot="primary">
          <ion-button routerLink="/exercise-edit/{{record.id}}">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="delete(record.id)">
            <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </ion-content>
