<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="editForm">
    <ion-item>
      <ion-label>Food Name</ion-label>
      <ion-input type="text" formControlName="name" id="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select formControlName="category" id="category">
        <ion-select-option value="FOOD">FOOD</ion-select-option>
        <ion-select-option value="DRINK">DRINK</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" formControlName="description" id="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Food Quantity</ion-label>
      <ion-input type="number" formControlName="quantity" id="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Water Content</ion-label>
      <ion-input type="number" formControlName="water" id="water"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Calories</ion-label>
      <ion-input type="number" formControlName="calories" id="calories"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Carbohydrate</ion-label>
      <ion-input type="number" formControlName="carbohydrate" id="carbs"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Protein</ion-label>
      <ion-input type="number" formControlName="protein" id="protein"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fats</ion-label>
      <ion-input type="number" formControlName="fats" id="fats"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fiber</ion-label>
      <ion-input type="number" formControlName="fibre" id="fibre"></ion-input>
    </ion-item>
    
    <ion-item-divider>
      <ion-label>
        Nutrients <ion-button shape="round" (click)="addBlankMinivite()"><ion-icon name="add-circle"></ion-icon></ion-button>
      </ion-label>
    </ion-item-divider>
    <div formArrayName="minivites">
      <ion-item *ngFor="let nutrient of editForm.get('minivites')['controls']; let i=index" [formGroupName]="i">
        <ion-label position="floating">Nutrient Name</ion-label>
        <ion-row>
          <ion-col size="10">
            <ion-input type="text" formControlName="minivite_name" item-start></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-button shape="round" color="dark" (click)="deleteInput(editForm.get('minivites')['controls'], i)"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <ion-button shape="round" color="primary" expand="block" [disabled]="!editForm.valid" (click)="submitRecord()">Submit</ion-button>
  </form>
</ion-content>