<ion-header>
  <ion-toolbar class="green-dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Exercise</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated autocomplete="on" shape="round" mode="ios" (ionInput)="searchRecord($event)" placeholder="Search Exercises"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let record of currentRecords" routerLink="/exercise-detail/{{record.id}}" routerDirection="forward">
      <ion-avatar item-start slot="start">
        <img [src]="record.image" alt=" "/>
      </ion-avatar>
      <ion-label>
        <h2>{{ record.name }}</h2>
        <p>KcPH {{ record.calorie_rate }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <br/>
    <br/>
    <br/>
    <br/>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/exercise-add" color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div class="bottom-shadow"></div>
</ion-content>
