<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button defaultHref="">
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Exercise</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/exercise-add"><ion-icon name="add-circle"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar animated autocomplete="on" shape="round" (ionInput)="searchRecord($event)" placeholder="Search Exercises"></ion-searchbar>

  <ion-list no-margin [@staggerIn]="records">
    <ion-item no-padding lines="none" *ngFor="let record of records" tappable routerLink="/exercise-detail/{{ record.id }}">
      <ion-thumbnail margin slot="start">
          <img [src]="record.images[0]">
        </ion-thumbnail>
      <ion-label>
        <h2 class="fw700 text08">
          <ion-text color="dark">{{ record.name }}</ion-text>
        </h2>
        <p>
          <ion-text color="primary">{{ record.tasks?.join() }}</ion-text>
        </p>
      </ion-label>
      <ion-badge color="success">
        <ion-text color="light">{{ record.calorie_rate | number }}KcPH</ion-text>
      </ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
