<ion-header>
    <ion-toolbar class="green-dark">
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/log"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Activity Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="record && record.food">
    <!--<div class="item-profile" *ngIf="record.food" text-center [style.background-image]="'url(' + record.food.image + ')'"></div>-->
    <div class="item-profile" text-center [style.background-image]="'url(../../../assets/images/running.jpg)'"></div>
    <ion-card>
        <br/>
        <ion-card-header padding>
            <ion-card-subtitle>{{ record.day | date: 'mediumDate' }}</ion-card-subtitle>
            <h2>Activity Details</h2>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item lines="none">
                    <ion-label>
                        <p>Current Mass (Weight)</p>
                        <h2>{{ unit.mass(record.current_mass || 0, 'kg') }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Food</p>
                        <h2>{{ record.food.name }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Food Quantity</p>
                        <h2 *ngIf="record.food.category === 'FOOD'">{{ unit.mass(record.food_quantity, 'kg') }}</h2>
                        <h2 *ngIf="record.food.category === 'DRINK'">{{ unit.volume(record.food_quantity, 'lt') }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Exercise</p>
                        <h2>{{ record.exercise.name }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Exercise Duration</p>
                        <h2>{{ record.exercise_duration }} minutes</h2>
                    </ion-label>
                </ion-item>
                <ion-label>
                    <p padding-horizontal>Remark</p>
                    <h2 class="gray-text" text-justify padding-horizontal>{{ record.remark }}</h2>
                </ion-label>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <br/>
    <br/>
    <br/>
    <br/>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" (click)="delete(record.id)">
            <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="bottom-shadow"></div>
</ion-content>