<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="editProfile()" class="editSaveToggleBtn">{{caption_name}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="body">
    <div class="fixed-content">
      <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="saveProfile()">
        <div class="upperDiv">
          <div class="profile-image-wrapper">
            <div class="profile-image" *ngIf="user">
                <img class="avatar" *ngIf="user.gender==='FEMALE'" src="../../../assets/img/female-avatar.png">
                <img class="avatar" *ngIf="user.gender==='MALE'" src="../../../assets/img/male-avatar.png">
            </div>
          </div>
  
          <h3 class="title" *ngIf="user">{{ user.username }}</h3>
          <h3 class="userDetails" *ngIf="user">{{ user.lifestyle }}</h3>
  
        </div>
        <ion-list class="my-list">
          <ion-item class="my-item">
            <ion-label class="label_here">User Name :</ion-label>
            <ion-input class="inputFields" type="text" formControlName="username" (keyup)="changedSmtng()"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label class="label_here">Email :</ion-label>
            <ion-input class="inputFields" type="text" formControlName="email" (keyup)="changedSmtng()"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label class="label_here">Password :</ion-label>
            <ion-input class="inputFields" type="password" formControlName="password" (keyup)="changedSmtng()"></ion-input>
          </ion-item>
  
          <ion-item style="border-bottom: 0.55px solid #fff !important;">
            <ion-label class="label_here">Birth Date :</ion-label>
            <ion-input class="inputFields" type="date" formControlName="birth_date" (keyup)="changedSmtng()"></ion-input>
          </ion-item>
   
          <ion-item style="border-bottom: 0.55px solid #fff !important;">
              <ion-label class="label_here">Phone :</ion-label>
              <ion-input class="inputFields" type="tel" formControlName="phone" (keyup)="changedSmtng()"></ion-input>
          </ion-item>

          <ion-item style="border-bottom: 0.55px solid #fff !important;">
            <ion-label class="label_here">Height(cm) :</ion-label>
            <ion-input class="inputFields" type="number" formControlName="height" (keyup)="changedSmtng()"></ion-input>
          </ion-item>

          <ion-item style="border-bottom: 0.55px solid #fff !important;">
            <ion-label class="label_here">Desired Mass(Kg) :</ion-label>
            <ion-input class="inputFields" type="number" formControlName="desired_mass" (keyup)="changedSmtng()"></ion-input>
          </ion-item>

          <ion-item style="border-bottom: 0.55px solid #fff !important;">
            <ion-label class="label_here">Gender :</ion-label>
            <ion-select class="inputFields" formControlName="gender" (keyup)="changedSmtng()">
              <ion-select-option value="FEMALE">Female</ion-select-option>
              <ion-select-option value="MALE">Male</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item style="border-bottom: 0.55px solid #fff !important;">
            <ion-label class="label_here">Lifestyle :</ion-label>
            <ion-select class="inputFields" formControlName="lifestyle" (keyup)="changedSmtng()">
              <ion-select-option value="Active">Active</ion-select-option>
              <ion-select-option value="Very">Very Active</ion-select-option>
              <ion-select-option value="Inactive">Inactive</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item style="border-bottom: 0.55px solid #fff !important;">
            <ion-label class="label_here">Country :</ion-label>
            <ion-select class="inputFields" type="text" formControlName="country_iso2" (keyup)="changedSmtng()">
              <ion-select-option value="Ng">Nigeria</ion-select-option>
              <ion-select-option value="O">Others</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </form>
    </div>
  </ion-content>
    