:host {
  ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }
}

ion-avatar {
  width: 68px;
  height: 68px;
}

  .amount{
    color: var(--ion-color-success);
    background: white;
  }
  .userDetails{
    color: white;
    text-align: center;
    font-family: "sans-serif";
    font-weight: bold;
    font-size: 1.6rem !important;
    margin-bottom: 6%;
  }
  .displayname{
    opacity: 0.8;
    color: white;
    text-align: center;
    font-family: "sans-serif";
    font-size: 1.7rem !important;
    margin-bottom: -6px !important;
  }
  .upperDiv{
    background: var(--ion-color-success-theme);
  }
  .item-block{
    border: none;
  }

  .inputFields{
    font-size: 16px !important;
    text-align: right;
    // .text-input { text-align: center; }
  }

  .list-md {
    margin: 15px 0 16px;
  }
  .my-list {
      padding: 20px !important;
      border-bottom: 0.55px solid #fff !important;
  }
  .my-item {
      border-top: 0.55px solid #fff !important;
  }
