<ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'Profile' }}</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="editProfile()" class="editSaveToggleBtn">{{caption_name}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="fixed-content">
  
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveProfile()">
        <div class="upperDiv">
          <div class="profile-image-wrapper">
            <div class="profile-image">
            </div>
          </div>
  
          <h3 class="fullname">{{ user.username }}</h3>
          <h3 class="userDetails">{{ user.lifestyle }}</h3>
  
        </div>
        <ion-list class="my-list">
          <ion-item class="my-item">
            <ion-label class="label_here">User Name :</ion-label>
            <ion-input class="inputFields" type="text" formControlName="username" (keyup)="changedSmtng()"
                       disabled="{{isDisabled}}"
                       [(ngModel)]="user.username"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label class="label_here">Email :</ion-label>
            <ion-input class="inputFields" type="email" formControlName="email" (keyup)="changedSmtng()"
                       disabled="{{isDisabled}}"
                       [(ngModel)]="user.email"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label class="label_here">Password :</ion-label>
            <ion-input class="inputFields" type="password" formControlName="password" (keyup)="changedSmtng()"
                       disabled="{{isDisabled}}"
                       [(ngModel)]="user.password"></ion-input>
          </ion-item>
  
          <ion-item style="border-bottom: 0.55px solid #fff !important;">
            <ion-label class="label_here">Date :</ion-label>
            <ion-input class="inputFields" type="date" formControlName="birth_date" (keyup)="changedSmtng()"
                       disabled="{{isDisabled}}"
                       [(ngModel)]="user.birth_date"></ion-input>
          </ion-item>
  
        </ion-list>
      </form>
    </div>
  </ion-content>
    