<ion-header>
    <ion-toolbar class="green-dark">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="green-text">Unit Conversion</ion-card-title>
        </ion-card-header>
        <ion-item>Energy Calories: 1 Kcal = 4184 Joules</ion-item>
        <ion-item>1 Pound = 16 Ounce = 453.5 Grams</ion-item>
        <ion-item>1 Cup = 0.5 Pint = 8 ounce</ion-item>
        <ion-item>1 Litre = 4.2 Cups = 33.8 ounce </ion-item>
        <ion-item>1 Inch = 2.54 cm</ion-item>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="green-text">Preferences</ion-card-title>
        </ion-card-header>
        <form [formGroup]="editForm">
            <ion-item *ngFor="let unit of unitData">
                <ion-label>
                    <h2>{{unit.type}}</h2>
                </ion-label>
                <ion-select [formControlName]="unit.type" name="{{unit.type}}" multiple="false">
                    <ion-select-option *ngFor="let label of unit.labels; let i=index" value="{{unit.values[i]}}">
                        {{label + ' (' + unit.values[i] + ')'}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </form>
    </ion-card>
</ion-content>