<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/nutrient"></ion-back-button>
      </ion-buttons>
    <ion-title>{{ record?.name }} Class Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <span class="card-img-price text-white">
      <strong>{{ record.name }}</strong> {{ record.symbol }} 
    </span>
  
    <ion-slides pager="true">
      <ion-slide *ngFor="let image of record.images" (click)="presentImage(image)">
        <img [src]="image">
        <div class="shadow"></div>
      </ion-slide>
    </ion-slides>
  
    <ion-card no-margin color="primary" class="dotted">
      <ion-card-content>
        <ion-grid no-padding>
  
          <ion-row margin-bottom>
            <ion-col text-center>
              <h4 ion-text color="light">Type:</h4>
              <h2 ion-text>{{ record.name }} {{ record.type | lowercase }} 
                {{ record.category | lowercase }}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center>
                <ion-icon slot="start" name="md-bicycle" color="light"></ion-icon>
                <ion-text color="light">Requirement: {{ record.requirement }} {{ record.unit }}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center>
                <ion-icon slot="start" name="md-bicycle" color="light"></ion-icon>
                <ion-text color="light">Limit: {{ record.limit }} {{ record.unit }}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-center>
                <ion-icon slot="start" name="md-bicycle" color="light"></ion-icon>
                <ion-text color="light">Use: {{ record.use }}</ion-text>
            </ion-col>
          </ion-row>
  
        </ion-grid>
      </ion-card-content>
    </ion-card>
  
    <ion-card no-margin class="spacerFab bg-white dotted">
      <ion-card-content>
        <h2><ion-text color="primary">Source</ion-text></h2>
        <p>{{ record.source }}</p>
  
        <hr class="bg-light">
  
        <h2><ion-text color="primary">Description</ion-text></h2>
        <div [innerHTML]="record.description"></div>
      </ion-card-content>
    </ion-card> 
  
  </ion-content>