<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/exercise"></ion-back-button>
        </ion-buttons>
      <ion-title>Exercise Details</ion-title>
      <ion-buttons slot="end">
        <ion-button color="danger" *ngIf="record.type === 'CUSTOM'"  routerLink="/exercise-edit/{{record.id}}">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" *ngIf="record.type === 'CUSTOM'" (click)="deleteRecord(record)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="record">
      <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + record.image + ')'">
        </div>
    <ion-list>
        <ion-list-header padding>
            <ion-label><h2>{{ record.name }} {{ record.calorie_rate }} KcPH </h2></ion-label>
            <ion-badge >{{ record.type | lowercase }} {{ record.category | lowercase }}</ion-badge>
          </ion-list-header>
        <ion-item>
          <ion-label text-wrap>
              Description: <br/>
              {{ record.name }} consumes {{ record.calorie_rate }} 
              Kilo calorie per hour of activity for a body mass of 70Kg on average.<br/>
              {{ record.description }}
          </ion-label>
        </ion-item>
          <ion-item><ion-label>Name {{ record.name }}</ion-label></ion-item>
          <ion-item><ion-label text-wrap>Description {{ record.description }}</ion-label></ion-item>
      </ion-list>
    </ion-content>
