<ion-header>
    <ion-toolbar class="green-dark">
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/exercise"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Exercise Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="record">
    <div class="item-profile" text-center [style.background-image]="'url(' + record.image + ')'"></div>
    <ion-card>
        <br/>
        <ion-card-header padding>
            <ion-card-subtitle>{{ record.type }} {{ record.category }}</ion-card-subtitle>
            <ion-card-title>{{ record.name }} {{ record.calorie_rate }} KcPH</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list lines="none">
                <ion-item>
                    <ion-label>
                        <p>Name</p>
                        <h2>{{ record.name }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>
                        <p>Effect</p>
                        <h2 class="gray-text" text-justify>
                            {{ record.name }} consumes {{ record.calorie_rate }} Kilo calorie per hour of activity for a body mass of 70Kg on average.</h2>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>
                        <p>Description</p>
                        <h2 class="gray-text" text-justify>{{ record.description }}</h2>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <br/>
    <br/>
    <br/>
    <br/>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="record.type === 'CUSTOM'">
        <ion-fab-button color="success">
            <ion-icon name="more"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button routerLink="/exercise-edit/{{record.id}}" color="success">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="deleteRecord(record)" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <div class="bottom-shadow"></div>
</ion-content>