<!--<ion-back-button defaultHref="/exercise"></ion-back-button>-->

<ion-content class="green-dark">
<div class="con">
    <div class="top-con">
      <ion-img src="/assets/icon/favicon.png"></ion-img>
      <h1 class="green-text">Login</h1>
    </div>
    <div class="bottom-con">
      <form #form="ngForm" (ngSubmit)="login(form)" method="post">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item class="green-dark">
                  <ion-label color="light" position="floating">Email or Phone</ion-label>
                  <ion-input color="light" ngModel type="username" name="username" maxlength="100" required=true></ion-input>
                </ion-item>
                
                <ion-item class="green-dark">
                  <ion-label color="light" position="floating">Password</ion-label>
                  <ion-input color="light" ngModel type="password" name="password" maxlength="20" required=true></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button size="large" type="submit" [disabled]="form.invalid" color="light" expand="block" shape="round">Login</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <div padding>
        <p text-center>Don't have a account?</p>
        <ion-button size="large" color="light" fill="outline" expand="block" shape="round" (click)="gotoRegister()">Register</ion-button>
      </div>
    </div>
  </div>
</ion-content>