<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          Afro<ion-text color="secondary">Calorie</ion-text>
          v.1
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">
        <ion-text color="warning">This field is required</ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
        <ion-text color="warning">This field is required</ion-text>
        </p>
    </form>

    <p text-center tappable (click)="forgotPass()" class="paz">
      <ion-text color="light">Forgot Password?</ion-text>
    </p>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="login()" [disabled]="!loginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>Login</ion-button>
    </div>

    <p></p>
    <p></p>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
          New here? <strong>Signup</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>