<!--<ion-back-button defaultHref="/landing"></ion-back-button>-->

<ion-content class="green-dark">
<div class="con">
    <div class="top-con">
      <h1>Create your account</h1>
      <form #form="ngForm" (ngSubmit)="register(form)" method="post">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item class="green-dark">
                  <ion-label color="light" position="floating">User name</ion-label>
                  <ion-input color="light" ngModel type="text" name="username" autocapitalize="on" maxlength="20" required=true></ion-input>
                </ion-item>

                <ion-item class="green-dark">
                  <ion-label color="light" position="floating">Phone</ion-label>
                  <ion-input color="light" ngModel type="tel" name="phone" maxlength="15" required=true></ion-input>
                </ion-item>
            
                <ion-item class="green-dark">
                  <ion-label color="light" position="floating">Email</ion-label>
                  <ion-input color="light" ngModel type="email" name="email" maxlength="100"></ion-input>
                </ion-item>
            
                <ion-item class="green-dark">
                  <ion-label color="light" position="floating">Password</ion-label>
                  <ion-input color="light" ngModel type="password" name="password" maxlength="20" required=true></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-button  size="large" type="submit" [disabled]="form.invalid" color="light" shape="round" expand="block">Register</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <div padding>
        <p text-center>Already have an account?</p>
        <ion-button size="large" color="light" fill="outline" expand="block" shape="round" (click)="gotoLogin()">Login</ion-button>
      </div>
    </div>
  </div>
</ion-content>