<ion-header>
  <ion-toolbar class="green-dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">{{ page }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let record of records" routerLink="/feedback-detail/{{record.id}}">
      <ion-icon name="desktop" slot="start"></ion-icon>
      {{ record.name }}
      <div class="item-note" slot="end">
        {{record.created_at | date}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  <br/>
  <br/>
  <br/>
  <br/>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/feedback-add" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="bottom-shadow"></div>
</ion-content>