:host {
  ion-content {
      --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  }
}


h1 { 
  font-size:1.5em;
}


ion-icon { 
  font-size: 32px;
}

.card {
  background: #27293d;
  border: 0;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.theme-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  opacity: .4; //.12
  background-image: url("/assets/img/fruit-girl.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paz {
  position: relative;
  z-index: 10;
}