<ion-header>
  <ion-toolbar color="success">
    <ion-title text-center>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section text-center>
    <h1> Afro-Calorie </h1>
  </section>
  <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding color="danger" routerLink="/user"  routerDirection="forward">
              <ion-icon name="person"></ion-icon>
              <h2>Profile</h2>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center padding color="danger" routerLink="/dashboard"  routerDirection="forward">
            <ion-icon name="pulse"></ion-icon>
                <h2>Dashboard</h2>
            </ion-card>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding color="danger" routerLink="/log"  routerDirection="forward">
          <ion-icon name="calendar"></ion-icon>
              <h2>Log Activity</h2>
          </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding color="danger" routerLink="/feedback"  routerDirection="forward">
          <ion-icon name="checkmark-circle"></ion-icon>
            <h2>Feedback</h2>
        </ion-card>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding color="danger" routerLink="/exercise"  routerDirection="forward">
            <ion-icon name="bicycle"></ion-icon>
              <h2>Exercise</h2>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center padding color="danger" routerLink="/food"  routerDirection="forward">
            <ion-icon name="ice-cream"></ion-icon>
                <h2>Food & Drinks</h2>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding color="danger" routerLink="/minivite"  routerDirection="forward">
          <ion-icon name="list"></ion-icon>
            <h2>Nutrition</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding color="danger" routerLink="/setting"  routerDirection="forward">
          <ion-icon name="settings"></ion-icon>
              <h2>Settings</h2>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
