<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center><h3>AfroCalorie</h3></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding color="dark" tappable (click)="goToPage('user')">
            <ion-icon name="person" color="light"></ion-icon>
            <h3 class="text-white">Profile</h3>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center padding color="dark" tappable (click)="goToPage('dashboard')">
            <ion-icon name="pulse" color="light"></ion-icon>
            <h3 class="text-white">Dashboard</h3>
          </ion-card>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding color="dark" tappable (click)="goToPage('log')">
          <ion-icon name="calendar" color="light"></ion-icon>
            <h3 class="text-white">Record</h3>
          </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding color="dark" tappable (click)="goToPage('notification')">
          <ion-icon name="mail-unread" color="light"></ion-icon>
            <h3 class="text-white">Feedback</h3>
        </ion-card>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding color="dark" tappable (click)="goToPage('exercise')">
            <ion-icon name="bicycle" color="light"></ion-icon>
              <h3 class="text-white">Exercise</h3>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center padding color="dark" tappable (click)="goToPage('food')">
            <ion-icon name="ice-cream" color="light"></ion-icon>
                <h3 class="text-white">Foods</h3>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding color="dark" tappable (click)="goToPage('nutrient')">
          <ion-icon name="list" color="light"></ion-icon>
            <h3 class="text-white">Nutrients</h3>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding color="dark" tappable (click)="goToPage('setting')">
          <ion-icon name="settings" color="light"></ion-icon>
              <h3 class="text-white">Settings</h3>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
