<ion-header>
  <ion-toolbar class="green-dark" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Afro-Calorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="light">
  <ion-grid>
      <!--<ion-row>
        <ion-col col-12 style="padding: 30px 0.5em">
          <ion-card-title class="gray-text">Afro-Calorie</ion-card-title>
          <ion-card-subtitle>Welcome to Afro Calorie</ion-card-subtitle>
        </ion-col>
      </ion-row>-->
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding class="cards" routerLink="/user"  routerDirection="forward">
              <ion-icon class="green-text" name="person"></ion-icon>
              <ion-card-title>Profile</ion-card-title>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center padding class="cards" routerLink="/dashboard"  routerDirection="forward">
            <ion-icon class="green-text" name="pulse"></ion-icon>
            <ion-card-title>Dashboard</ion-card-title>
            </ion-card>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding class="cards" routerLink="/exercise"  routerDirection="forward">
          <ion-icon class="green-text" name="bicycle"></ion-icon>
            <ion-card-title>Exercise</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding class="cards" routerLink="/feedback"  routerDirection="forward">
          <ion-icon class="green-text" name="checkmark-circle"></ion-icon>
            <ion-card-title>Feedback</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding class="cards" routerLink="/log"  routerDirection="forward">
            <ion-icon class="green-text" name="calendar"></ion-icon>
            <ion-card-title>Log Activity</ion-card-title>
        </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center padding class="cards" routerLink="/food"  routerDirection="forward">
            <ion-icon class="green-text" name="ice-cream"></ion-icon>
                <ion-card-title>Food & Drinks</ion-card-title>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding class="cards" routerLink="/minivite"  routerDirection="forward">
          <ion-icon class="green-text" name="list"></ion-icon>
            <ion-card-title>Nutrition</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding class="cards" routerLink="/setting"  routerDirection="forward">
          <ion-icon class="green-text" name="settings"></ion-icon>
              <ion-card-title>Settings</ion-card-title>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br/>
  <br/>
  <div class="bottom-shadow"></div>
</ion-content>
