<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> Foods & Drinks</ion-title>
        <ion-buttons slot="end">
          <ion-button routerLink="/food-add"><ion-icon name="add-circle"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-searchbar animated autocomplete="on" shape="round" (ionInput)="searchRecord($event)" placeholder="Search Food"></ion-searchbar>
    <ion-list *ngFor="let record of currentRecords">
      <ion-item routerLink="/food-detail/{{record.id}}"  routerDirection="forward">
        <ion-avatar item-start slot="start">
          <img [src]="record.image" />
        </ion-avatar>
        <h2> {{ record.name }} </h2>
        <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
        <ion-badge item-start slot="end"> {{ record.calorie }} Kacl</ion-badge>
      </ion-item>
    </ion-list>
  </ion-content>