<ion-header>
  <ion-toolbar class="green-dark">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Foods & Drinks</ion-title>
  </ion-toolbar>
  <ion-toolbar>
  <ion-segment mode="md" (ionChange)="segmentChanged($event)" color="success">
    <ion-segment-button mode="md" value="FOOD" checked layout="icon-start">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>FOOD</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="DRINK" layout="icon-start">
      <ion-icon name="wine"></ion-icon>
      <ion-label>DRINK</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar mode="ios" animated autocomplete="on" shape="round" (ionInput)="searchRecord($event)" placeholder="Search Food"></ion-searchbar>
    <ion-list lines="none">
      <ion-item *ngFor="let record of currentRecords" routerLink="/food-detail/{{record.id}}" routerDirection="forward">
        <ion-avatar item-start slot="start">
          <img [src]="record.image" alt=" "/>
        </ion-avatar>
        <ion-label>
          <h2>{{ record.name }}</h2>
          <p>{{ record.calories }} Kacl</p>
        </ion-label>
        <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
      </ion-item>
    </ion-list>
    <br/>
    <br/>
    <br/>
    <br/>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/food-add" color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div class="bottom-shadow"></div>
  </ion-content>
