.item-profile {
    width: 100%;
    background-size: cover;
    height: 45vh;
    background: #eee no-repeat center top;
    position: sticky;
    top: 0;
}

.item-detail {
    width: 100%;
    background: white;
    position: absolute;
}

ion-card {
    --background: white;
    margin-top: -30px;
    border-radius: 10px;
}