<ion-header>
    <ion-toolbar class="green-dark">
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/food"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Food Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="record">
    <div class="item-profile" text-center [style.background-image]="'url(' + record.image + ')'"></div>
    <ion-card>
        <br/>
        <ion-card-header padding>
            <ion-card-subtitle>{{ record.type }} {{ record.category }}</ion-card-subtitle>
            <h2>{{ record.name }}</h2>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item lines="none">
                    <ion-label>
                        <p>Name</p>
                        <h2>{{ record.name }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none" *ngIf="record.unit === 'ml'">
                    <ion-label>
                        <p>Quantity</p>
                        <h2>{{ unit.volume(record.quantity, record.unit) }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none" *ngIf="record.unit === 'mg'">
                    <ion-label>
                        <p>Quantity</p>
                        <h2>{{ unit.mass(record.quantity, record.unit) }}</h2>
                    </ion-label>
                </ion-item>
                <ion-label>
                    <p padding-horizontal>Description</p>
                    <h2 class="gray-text" text-justify padding-horizontal>{{ record.description }}</h2>
                </ion-label>
                <ion-item lines="none">
                    <ion-label>
                        <p>Water</p>
                        <h2>{{ unit.volume(record.water, 'cl') }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Calorie</p>
                        <h2>{{ unit.energy(record.calories, 'kcal') }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Carbohydrate</p>
                        <h2>{{ unit.mass(record.carbohydrate, 'mg') }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Protein</p>
                        <h2>{{ unit.mass(record.protein, 'mg') }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Fats</p>
                        <h2>{{ unit.mass(record.fats, 'mg') }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Fibre</p>
                        <h2>{{ unit.mass(record.fibre, 'mg') }}</h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Nutrients ({{ record.nutrients ? record.nutrients.length : 0}})</p>
                        <ion-grid *ngIf="record.nutrients && record.nutrients.length > 0">
                            <ion-row>
                                <ion-col size="9">
                                    <ion-text item-start>Nutrient Name</ion-text>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-text item-end>Quantity</ion-text>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <h2 *ngFor="let nutrient of record.nutrients">
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="9">
                                        <ion-text item-start>{{ nutrient.nutrient.name || '---' }}</ion-text>
                                    </ion-col>
                                    <ion-col size="3">
                                        <ion-text item-end> {{ unit.mass(nutrient.quantity, 'mg') }}</ion-text>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </h2>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label>
                        <p>Ingredients ({{ record.ingredients ? record.ingredients.length : 0}})</p>
                        <h2 *ngIf="record.ingredients" padding>{{record.ingredients.join(', ')}}</h2>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <br/>
    <br/>
    <br/>
    <br/>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="success">
            <ion-icon name="more"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button routerLink="/food-edit/{{record.id}}" color="success">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="delete(record.id)" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <div class="bottom-shadow"></div>
</ion-content>