<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/notification"></ion-back-button>
      </ion-buttons>
      <ion-title>Feedback Notification</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding class="animated fadeIn">

      <ion-card class="bg-white" no-margin>
        <ion-card-header>
            <ion-card-subtitle>{{ record.date | date: 'MM/dd/yyyy'}} | <strong>{{ record.type }}</strong></ion-card-subtitle>
            <ion-card-title>
              <ion-text color="primary">
                {{ record.title}}
              </ion-text>
            </ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <p margin-top>
              <ion-text color="primary">
                {{ record.message}}
              </ion-text>
            </p>
          </ion-card-content>
        </ion-card>
  
  </ion-content>
