// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
// http://ionicframework.com/docs/theming/
// App Global Sass
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply globally. These styles are for
// the entire app and not just one component. Additionally, this file can be
// also used as an entry point to import other Sass files to be included in the
// output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's default Sass
// variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule for the .md, .ios,
// or .wp mode classes. The mode class is automatically applied to the <body>
// element in the app.
.content-fullscreen-message {
    text-align: center;
    padding: 30% 15%;
    font-size: 26px;
    font-weight: 300;
    opacity: 0.2;
}

//// Background colors
.dark-bg {
    --background: #110A3B;
    background: #110A3B;
    .scroll {
        --background: #110A3B;
        background: #110A3B;
    }
}

.green-light {
    --background: #2AE07CFF;
    background: #2AE07CFF;
}

.green-dark {
    --background: #2BAE66FF;
    background: #2BAE66FF;
}

.green-text {
    color: #2BAE66FF;
}

.gray-light {
    --background: #5b907e;
    background: #5b907e;
}

.gray-dark {
    --background: #101820;
    background: #101820;
}

.gray-text {
    color: #101820;
}

.bottom-shadow {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    background-image: linear-gradient(0deg, white 25%, transparent);
}