<ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title> {{ page }} </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <form [formGroup]="addForm">
      <ion-item>
          <ion-label position="floating">Log Day</ion-label>
          <ion-input type="date" formControlName="day" id="day"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Food</ion-label>
          <ion-select [(ngModel)]="selectedFood" formControlName="food" placeholder="No Food selected" multiple="false">
              <ion-select-option *ngFor="let food of foods" value="{{food.id}}">{{food.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Food Quantity</ion-label>
          <ion-input type="text" formControlName="food_quantity" id="food_quantity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Exercise</ion-label>
          <ion-select [(ngModel)]="selectedExercise" formControlName="exercise" placeholder="No Exercise selected" multiple="false">
              <ion-select-option *ngFor="let exercise of exercises" value="{{exercise.id}}">{{exercise.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Exercise Duration</ion-label>
          <ion-input type="number" formControlName="exercise_duration" id="exercise_duration"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Remark</ion-label>
          <ion-input type="number" formControlName="remark" id="remark"></ion-input>
        </ion-item>

      <ion-button shape="round" color="primary" expand="block" [disabled]="!addForm.valid" (click)="submitRecord()">Submit</ion-button>
    </form>
  </ion-content>