<ion-header>
    <ion-toolbar color="success">
      <ion-title>Add Record</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cancel()">
          <span color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </ion-button>
        <ion-button (click)="submitRecord()" [disabled]="!isReadyToSave" strong>
          <span color="primary" showWhen="ios">Done</span>
          <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <form *ngIf="addForm" [formGroup]="addForm">

        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <div class="profile-image-wrapper" (click)="getPicture()">
          <div class="profile-image-placeholder" *ngIf="!this.form.controls.image.value">
            <ion-icon name="ios-camera-outline" md="ios-camera-outline"></ion-icon>
            <div>Choose image</div>
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.image.value"></div>
        </div>

    <ion-list>

      <ion-item>
        <ion-label position="floating">Exercise Name</ion-label>
        <ion-input type="text" formControlName="name" id="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Category</ion-label>
        <ion-input type="text" formControlName="category" id="category"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input type="text" formControlName="description" id="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Calorie Rate</ion-label>
        <ion-input type="number" formControlName="calorie_rate" id="calorie_rate"></ion-input>
      </ion-item>
    </ion-list>

      <ion-button shape="round" color="primary" [disabled]="!addForm.valid" (click)="submitRecord()">Submit</ion-button>

    </form>
  </ion-content>